
@{
    ViewData["Title"] = "Index";
}


    

    <div id="div_smscode">555555555555</div>
    <div id="div_ordercode">555555555555</div>

    <br /><br />http协议<br /><br />

    <input type="button" value="单独生成渠道二维码" onclick="ChannelCreate_Single()" />

    <div id="div_ShowInfo">555555555555</div>


    <script type="text/javascript">
// 单独生成渠道二维码
            function ChannelCreate_Single()
            {
                var txt="";

                    $.ajax({
                        url: '/api/Vote/',// 跳转到 action
                        type: 'post',
                        data: {
                             "VoteItems": "ggggggggggg,ggggggggg,ggggggggggg", "VoteMulti": 1, "LimitTimes": 1, "BeginTime": "2018-03-08 00:00", "EndTime": "2018-03-08 00:00", "VoteTitle": "gggggg", "OpenID": "oHm4a0ZjlzDfwDP1CFPhge3XdAxM" 
                        },
                        dataType: 'json',
                        success: function (data) {
                            $("#div_ShowInfo").text(JSON.stringify(data));
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                        }
                    });


            }</script>